* {
  box-sizing: border-box;
}

img {
  width: 300px;
  height: auto;
}

.jumbotron {
  width: 100%;
  height: auto;
  background-color: #6b89ec;
  font-family: 'Fredoka One', cursive;
}

.btn {
  color: black;
}

li {
  padding: 5px;
  font-size: 25px;
}